

	
	<section id="homepage-boxes" class="grid-container full text-center febs-container">
		<div id="homepage-boxes-container" class="grid-x expanded febs-container">

			<!-- MAIN BANNER -->
			<div id="main-banner-slider" class="grid-x small-12 large-6 main-banner slick-init-1">

				<!-- MAIN BANNER SLIDER -->
				<div class="grid-y small-12" style="background-image: url('./images/mocks/main-banner-bg.png');">
					<div class="cell small-4 medium-4 large-4 v-aligner">
						<img src="./images/mocks/roma.png" width="200px">
					</div>

					<div class="cell small-6 padding-top-1">
						<label class="animated fadeInUp delay-05">UPCOMING EVENT</label>
						<h3 class="event-title animated fadeInUp delay-1 speed-2">
							- Roma 2018 - <br>
							8th International Conference of the <br>
							Financial Engineering and Banking Society
						</h3>
						<small class="animated fadeIn delay-2">4-6 JUNE 2018, University of Rome III, Rome, Italy</small>
					</div>

					<div class="cell small-1 large-2 v-aligner padding-top-1">
						<button class="hollow button animated fadeIn delay-2" href="#">LEARN MORE</button>
					</div>
				</div>

				<div class="grid-y small-12" style="background-image: url('./images/mocks/main-banner-bg.png');">
					<div class="cell small-4 medium-4 large-4 v-aligner">
						<img src="./images/mocks/roma.png" width="200px">
					</div>

					<div class="cell small-6 padding-top-1">
						<label>UPCOMING EVENT</label>
						<h3 class="event-title">
							- Roma 2018 - <br>
							8th International Conference of the <br>
							Financial Engineering and Banking Society
						</h3>
						<small>4-6 JUNE 2018, University of Rome III, Rome, Italy</small>
					</div>

					<div class="cell small-1 large-2 v-aligner padding-top-1">
						<button class="hollow button" href="#">LEARN MORE</button>
					</div>
				</div>
				<!-- MAIN BANNER SLIDER -->


			</div>
			<!-- MAIN BANNER -->

			<div class="grid-x small-12 medium-12 large-6">

				<!-- RIGHT BANNER TOP -->
				<div class="grid-x small-12 medium-12 right-banner">
						<!-- NEWS SLIDER -->
						<div class="cell small-12 medium-6 text-left" style="background-color: #2e4a74;">
							<div class="news-dots-container"></div>

							<!-- LATEST NEWS SLIDES -->
							<div id="latest-news-slider">
								<div class="padding-2 padding-top-3" data-thumbnail="./images/mocks/news-slide-image.png">
									<div class="grid-y">
										<div class="cell small-1 animated fadeIn delay-1"><label>NEWSROOM</label></div>
										<div class="cell small-2 animated fadeIn delay-2"><h3>Latest News 1</h3></div>
										<div class="cell small-1 margin-bottom-1 animated fadeIn delay-2"><span class="badge">4 JUNE 2018</span></div>
										<div class="cell small-6 margin-bottom-1 animated fadeIn delay-2">
											<p class="excerpt">Prof. Constantin Zopounidis was awarded by the Audencia Nantes School of Management (ANSM) and the Centre for Financial and Risk Management for his scientific work in Management Science and Decision Making.</p>
										</div>
										<div class="cell small-1 animated fadeIn delay-2">
											<button class="hollow button" href="#">READ MORE</button>
										</div>
									</div>
								</div>

								<div class="padding-2 padding-top-3" data-thumbnail="./images/mocks/news-slide-image.png">
									<div class="grid-y">
										<div class="cell small-1"><label>NEWSROOM</label></div>
										<div class="cell small-2"><h3>Latest News 2</h3></div>
										<div class="cell small-1 margin-bottom-1"><span class="badge">4 JUNE 2018</span></div>
										<div class="cell small-6 margin-bottom-1">
											<p class="excerpt">Prof. Constantin Zopounidis was awarded by the Audencia Nantes School of Management (ANSM) and the Centre for Financial and Risk Management for his scientific work in Management Science and Decision Making.</p>
										</div>
										<div class="cell small-1">
											<button class="hollow button" href="#">READ MORE</button>
										</div>
									</div>
								</div>

								<div class="padding-2 padding-top-3" data-thumbnail="./images/mocks/news-slide-image.png">
									<div class="grid-y">
										<div class="cell small-1"><label>NEWSROOM</label></div>
										<div class="cell small-2"><h3>Latest News 3</h3></div>
										<div class="cell small-1 margin-bottom-1"><span class="badge">4 JUNE 2018</span></div>
										<div class="cell small-6 margin-bottom-1">
											<p class="excerpt">Prof. Constantin Zopounidis was awarded by the Audencia Nantes School of Management (ANSM) and the Centre for Financial and Risk Management for his scientific work in Management Science and Decision Making.</p>
										</div>
										<div class="cell small-1">
											<button class="hollow button" href="#">READ MORE</button>
										</div>
									</div>
								</div>	
								<!-- LATEST NEWS SLIDES -->							
								 
							</div>							
						</div>
						<!-- NEWS SLIDER -->

						<!-- SLIDER THUMBNAIL -->
						<div id="news-thumbnail-container" class="cell small-12 medium-6 text-left">
							<div class="animated fadeIn delay-2 speed-2">
								<div class="thumb"></div>
							</div>
						</div>	
						<!-- SLIDER THUMBNAIL -->				
				</div>
				<!-- RIGHT BANNER TOP -->


				<!-- RIGHT BANNER BOTTOM -->
				<div class="grid-x small-12 medium-12 right-banner">
						<!-- ABOUT US -->
						<div class="cell small-12 medium-6 text-left" style="background-color: #3784c4;">
							<div class="padding-2">
								<div class="grid-y">
									<div class="cell small-1"><label>FEBS</label></div>
									<div class="cell small-2"><h3>About Us</h3></div>
									<div class="cell small-1 margin-bottom-1"></div>
									<div class="cell small-4 margin-bottom-1">
										<p class="excerpt">The Financial Engineering & Banking Society
										(FEBS) is a non-profit research society founded
										in 2010 in Greece and aiming towards the promotion of decision making approaches in
										the fields of financialengineering and banking.</p>
									</div>
									<div class="cell small-1">
										<button class="hollow button" href="#">READ MORE</button>
									</div>
								</div>
							</div>				
						</div>
						<!-- ABOUT US -->

						<!-- Newsletter -->
						<div class="cell small-12 medium-6 text-left" style="background-color: #2e4a74;">
							<div class="padding-2">
								<div class="grid-y">
									<div class="cell small-1"><label>SUBSCRIBE</label></div>
									<div class="cell small-2"><h3>The FEBS Newsletter</h3></div>
									<div class="cell small-1 margin-bottom-1"></div>
									<div class="cell small-4 margin-bottom-1">
										<p class="excerpt">Subscribe to our newsletter to keep up with the latest news, events and publication of FEBS</p>
										<input type="text" name="">
									</div>
									<div class="cell small-1">
										<button class="hollow button gold" href="#">SUBSCRIBE</button>
									</div>
								</div>
							</div>							
						</div>	
						<!-- Newsletter -->				
				</div>
				<!-- RIGHT BANNER BOTTOM -->
			</div>



		</div>
	</section>

	<div id="arrow-container" class="grid-x small-12">
		<div class="cell padding-vertical-2 text-center animated fadeIn delay-4">
			<img class="up-down" src="./css/images/icons/icon-arrow-down.png">
		</div>
	</div>

