	
<section id="contact-page" class="">

	<div class="febs-container" style="margin-bottom:5rem">

		<div class="grid-x small-12 align-justify">
			<div class="cell small-12 medium-shrink page-title-container">Contact Us</div>

			<%- partial("/Views/Partials/Shared/_breadcrumb.ejs") %>
		</div>

		<div class="grid-x">

			<!-- MAIN CONTENT -->
			<div class="cell small-12 main-content-container">

				<div class="grid-x">
					<div class="cell small-12 large-4 address" style="background-image: url('./images/wattermark-contact.png');">
						<h5>Address</h5>

						<ul class="info">
							<li>Financial Engineering Laboratory</li>
							<li>Technical University of Crete</li>
							<li>Dept. of Production Engineering and Management</li>
							<li>73100 Chania, Greece</li>
						</ul>
					
						<p class="email">E-mail: info@asdasd.gr</p>

						<hr>
						<div style="clear:both; margin-bottom: 5px;"></div>

						<h5>President</h5>

						<ul class="prof-info">
							<li class="prof-name">Financial Engineering Laboratory</li>
							<li>Technical University of Crete</li>
							<li>Dept. of Production Engineering and Management</li>
							<li>73100 Chania, Greece</li>
						</ul>						
					</div>


					<div class="cell small-12 large-8 contact-img-container" style="background-image: url('./images/contact-image.png');">
						<hr>
						<div style="clear:both"></div>
						<p class="text">FINANCIAL ENGINEERING<br>
						AND BANKING SOCIETY</p>
					</div>


				</div>

			</div>
		</div>

	</div>


	<div class="febs-container" style="background-color: white;">
		<%- partial("/Views/Partials/Shared/_partners") %>
	</div>
	<div style="background-color: white;">
		<%- partial("/Views/Partials/Shared/_subscribe") %>
	</div>

</section>