
<div id="back-to-top-btn" class="show-for-large">
	<a><span class="padding-right-1">BACK TO TOP</span> <img src="./css/images/icons/back-to-top.png"></a>
</div>

<footer id="footer-container" class="text-center grid-x expanded febs-container">
	<div id="footer-inner-container" class="cell small-12">
		<div class="cell small-12 v-aligner" style="height: 200px;">
			<img src="./css/images/footer-logo.png" width="400px">
		</div>

		<div class="cell small-12" style="height: auto; padding-bottom: 1rem;">

			<div class="grid-x v-aligner show-for-medium">
				<p class="copyrights"><span class="padding-right-2">Copyright 2018 FEBS</span> Designed & Developed by: <a>Roundup Solutions</a></p>
			</div>

			<div class="grid-x text-center v-aligner hide-for-medium">
				<p class="copyrights"><span>Copyright 2018 FEBS</span><br> Designed & Developed by: <br><a>Roundup Solutions</a></p>
			</div>

		</div>
	</div>
</footer>


