


	<aside class="cell small-12 large-shrink side-menu-container">
		<ul class="show-for-large">
			<li class="active"><a>Mission</a></li>
			<li> <a>Executive Board</a></li>
		</ul>

		<div class="footer show-for-large">
			<hr>
			<div style="clear:both"></div>
			<p>
				FINANCIAL ENGINEERING<br>
				AND SOCIAL SOCIETY
			</p>
		</div>


		<ul class="accordion hide-for-large" data-accordion data-allow-all-closed="true">
		  <li class="accordion-item" data-accordion-item>
		    <!-- Accordion tab title -->
		    <a href="#" class="accordion-title v-aligner" data-toggle="burger-btn-2">
		    	<p style="padding: 1rem 0;">MENU</p>

	            <button id="burger-btn-2" class="hamburger hamburger--minus margin-0" data-toggle="burger-btn-2" data-toggler=".is-active" type="button">
	              <span class="hamburger-box">
	                <span class="hamburger-inner"></span>
	              </span><br>
	            </button>   

	            <div style="clear: both;"></div>
		    </a>

		    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
		    <div class="accordion-content" data-tab-content>
				<ul>
					<li class="active"><a>Mission</a></li>
					<li> <a>Executive Board</a></li>
				</ul>
		    </div>
		  </li>
		</ul>


	</aside>