
<div class="reveal full ease-in-out animated normal" id="modal-menu" data-reveal data-close-on-click="true" data-animation-in="slide-in-right" data-animation-out="slide-out-right" style="background-image: url('./images/wattermark-menu.png');">

  <div class="grid-x febs-container no-collapse">
      <div class="cell" style="height: 100px;"></div>
      <div class="cell margin-bottom-2">
        <label class="yellow-text"><b>MENU</b></label>
      </div>

      <!-- ROW-1 -->
      <div class="cell">
          <div class="grid-x">
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="index.html">Home</a></h4>
              <ul class="light-blue show-for-medium">

              </ul>
            </div>
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="">About FEBS</a></h4>
              <ul class="light-blue show-for-medium">
                <li><a href="about-us-mission.html">Mission</a></li>                
                <li><a href="about-us-executive-board.html">Executive Board</a></li>
              </ul>
            </div>
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="">Events</a></h4>
              <ul class="light-blue show-for-medium">
                <li>Upcoming</li>
                <li>Past</li>
              </ul>
            </div>
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="publications-list-page.html">Publications</a></h4>
              <ul class="light-blue show-for-medium">
                <li><a href="publication-overview.html">IJFERM</a></li>
                <li>Books</li>
              </ul>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="awards-page.html">Awards</a></h4>
              <ul class="light-blue show-for-medium">
              </ul>
            </div>
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="news-page.html">News & Activities</a></h4>
              <ul class="light-blue show-for-medium">
                <li>Announcements</li>
                <li>Research</li>
                <li>Collaborations</li>
                <li>Press</li>
              </ul>
            </div>
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="media-gallery-page.html">Media Gallery</a></h4>
              <ul class="light-blue show-for-medium">

              </ul>
            </div>
            <div class="cell small-12 medium-6 large-2">
              <h4 class="white-text"><a href="contact-page.html">Contact</a></h4>
              <ul class="light-blue show-for-medium">

              </ul>
            </div>
          </div>
      </div>
      <!-- ROW-2 -->
  </div>


</div>